@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: #000;
	--background: #fff;
	--background-secondary: #fafafa;
	--border: #ebebeb;
	--border-active: #c9c9c9;
	--container: 2.5rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: #fff;
		--background: #000;
		--background-secondary: #0d0d0d;
		--border: #313131;
		--border-active: #454545;
	}
}

body {
	color: var(--foreground);
	background-color: var(--background-secondary);
	@apply transition-colors duration-300;
}

code {
	@apply bg-border text-sm rounded-md px-1.5 py-1 mx-0.5;
}
